body{
  background-color: tan;
  font-family: Arial;
  text-align: center;
  color: steelblue;
  padding-top: 60px;
}

#board {
  border: 2px solid peru;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background: teal;
  color: #fff;

  width: 100;
  font-size: 20px;
  padding: 6px 12px;
  margin: 12px;
}

#white-turn {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

#black-turn {
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
